<!doctype html>
<html>
  <head>
    <script type="module">
      import { createApp } from 'https://unpkg.com/petite-vue?module';
      
      const STORAGE_KEY = 'adventure-main'
      const mainStorage = {
        fetch: () => JSON.parse(localStorage.getItem(STORAGE_KEY) || '{}'),
        save: (data) => localStorage.setItem(STORAGE_KEY, JSON.stringify(data))
      }

      function Intro() {
        return { $template: '#intro-template' };
      };      
      function Day({ template }) {
        return { $template: '#'+template+'-template' };
      };

      const DEFAULT_HERO = {
        strength: 1,
        vitality: 1,
      };

      createApp({
        title: 'Aventure v0.1',
        async onMount() {
          // Keep local save
          this.data = await mainStorage.fetch();
          if(!data) this.newAdventure();
          
          // Prepare things on mount
        },
        nextDay() {
          const routes = ["castle", "river"];
          this.data.story.push(routes[Math.round(Math.random() * routes.length)-1]);
          this.dayStep = 0;
        },
        newAdventure() {
          this.data.story = [];
          this.data.hero = structuredClone(DEFAULT_HERO);
        },
        addStrength(amount = 1) {
          this.data.hero.strength++;
        },
        addVitality(amount = 1) {
          this.data.hero.vitality++;
        },
        get day() {
          return this.data.story.length;
        },
        dayStep: 0,
        data: {
          hero: structuredClone(DEFAULT_HERO),
          story: []
        },
        save() {
          mainStorage.save(this.data);
        },
        Intro,
        Day
      }).mount();
    </script>
  </head>
  <body>
    <template id="intro-template">
      <h2>Début de l'aventure</h2>
      <p>L'aventure commence !</p>
      <button @click="nextDay()">Démarrer l'aventure !</button>
    </template>
    
    <template id="castle-template">
      <h2>Jour {{day}}</h2>
      <h1>Chateau ! {{data}}</h1>
      <button @click="nextDay()">Jour suivant</button>
    </template>
    
    <template id="river-template">
      <h2>Jour {{day}}</h2>
      <h1>Rivière ! {{data}}</h1>
      <div v-if="dayStep === 0">
        <button @click="addVitality(1) + dayStep++">Se reposer</button>
        <button @click="addStrength(1) + dayStep++">Pêcher du poisson</button>
      </div>
      <div v-if="dayStep === 1">
        <button @click="nextDay()">Jour suivant</button>
      </div>
    </template>
    
    <div v-scope @vue:mounted="onMount" v-effect="save()" v-cloak>
      <h1>{{title}}</h1>
      <button @click="newAdventure()">Nouvelle aventure</button>
      <div v-if="day === 0" v-scope="Intro()"></div>
      <div v-else v-scope="Day({template: data.story[day-1]})"></div>
    </div>
  </body>
</html>
